In [3]:
# -*- coding:utf-8 -*-
# 数据预处理
#---* 1 *---数据清洗
import pandas as pd
import numpy as np
from pandas import DataFrame,Series

inputfile1 = 'discdata.xls'
data = pd.read_excel(inputfile1)
data.head()

  SYS_NAME     NAME  TARGET_ID DESCRIPTION ENTITY         VALUE COLLECTTIME
0   财务管理系统  CWXT_DB        184     磁盘已使用大小    C:\  3.427079e+07  2014-10-01
1   财务管理系统  CWXT_DB        184     磁盘已使用大小    D:\  8.026259e+07  2014-10-01
2   财务管理系统  CWXT_DB        183        磁盘容量    C:\  5.232332e+07  2014-10-01
3   财务管理系统  CWXT_DB        183        磁盘容量    D:\  1.572833e+08  2014-10-01
4   财务管理系统  CWXT_DB        184     磁盘已使用大小    C:\  3.432890e+07  2014-10-02

In [4]:
# 一般情况下默认磁盘容量是定值，所以需要剔除磁盘容量重复的数据
data.drop_duplicates(data.columns[:-1],inplace=True)
data.to_excel('dataCleaned.xlsx')
data.head()

  SYS_NAME     NAME  TARGET_ID DESCRIPTION ENTITY         VALUE COLLECTTIME
0   财务管理系统  CWXT_DB        184     磁盘已使用大小    C:\  3.427079e+07  2014-10-01
1   财务管理系统  CWXT_DB        184     磁盘已使用大小    D:\  8.026259e+07  2014-10-01
2   财务管理系统  CWXT_DB        183        磁盘容量    C:\  5.232332e+07  2014-10-01
3   财务管理系统  CWXT_DB        183        磁盘容量    D:\  1.572833e+08  2014-10-01
4   财务管理系统  CWXT_DB        184     磁盘已使用大小    C:\  3.432890e+07  2014-10-02

In [5]:
#---* 2 *---属性构造 
# 思路：由于每台服务器上的这三个属性值一直不变：NAME、TARGET_ID、ENTITY，将这三个属性值合并
inputfile2 = 'dataCleaned.xlsx'
data = pd.read_excel(inputfile2)

In [25]:
# 教材上方法一：
df = data[data['TARGET_ID'] == 184].copy() # 只选取TARGET_ID为184的数据
df_group = df.groupby('COLLECTTIME') # 以时间分组得到一个GroupBy对象
df_group

In [33]:

#定义属性变换函数
def attr_trans(x):
    result = Series(index = ['SYS_NAME','CWXT_DB:184:C:\\','CWXT_DB:184:D:\\','COLLECTTIME'])
    result['SYS_NAME'] = x['SYS_NAME'].iloc[0]
    result['COLLECTTIME'] = x['COLLECTTIME'].iloc[0]
    result['CWXT_DB:184:C:\\'] = x['VALUE'].iloc[0]
    result['CWXT_DB:184:D:\\'] = x['VALUE'].iloc[1]
    return result 
data_attr_constr = df_group.apply(attr_trans)# 逐组处理
data_attr_constr.to_excel('attrsConstruction.xlsx',index=False)
data_attr_constr.head()

            SYS_NAME  CWXT_DB:184:C:\  CWXT_DB:184:D:\ COLLECTTIME
COLLECTTIME
2014-10-01    财务管理系统      34270787.33      80262592.65  2014-10-01
2014-10-02    财务管理系统      34328899.02      83200151.65  2014-10-02
2014-10-03    财务管理系统      34327553.50      83208320.00  2014-10-03
2014-10-04    财务管理系统      34288672.21      83099271.65  2014-10-04
2014-10-05    财务管理系统      34190978.41      82765171.65  2014-10-05

In [34]:
#方法二，死方法，没有方法一灵活
df_g = df.groupby('COLLECTTIME').size()#size跟count的区别： size计数时包含NaN值，而count不包含NaN值
#print(df_g)
indexpre = df_g.index
#print(indexpre)
data_processed = DataFrame([],index = indexpre, columns=['SYS_NAME','CWXT_DB:184:C:\\','CWXT_DB:184:D:\\'])
data_processed['SYS_NAME'] =  u'财务管理系统'
data_processed['CWXT_DB:184:C:\\'] = df['VALUE'][df['ENTITY']=='C:\\'].values
data_processed['CWXT_DB:184:D:\\'] = df['VALUE'][df['ENTITY']=='D:\\'].values
data_processed.head()

COLLECTTIME
2014-10-01    2
2014-10-02    2
2014-10-03    2
2014-10-04    2
2014-10-05    2
2014-10-06    2
2014-10-07    2
2014-10-08    2
2014-10-09    2
2014-10-10    2
2014-10-11    2
2014-10-12    2
2014-10-13    2
2014-10-14    2
2014-10-15    2
2014-10-16    2
2014-10-17    2
2014-10-18    2
2014-10-19    2
2014-10-20    2
2014-10-21    2
2014-10-22    2
2014-10-23    2
2014-10-24    2
2014-10-25    2
2014-10-26    2
2014-10-27    2
2014-10-28    2
2014-10-29    2
2014-10-30    2
2014-10-31    2
2014-11-01    2
2014-11-02    2
2014-11-03    2
2014-11-04    2
2014-11-05    2
2014-11-06    2
2014-11-07    2
2014-11-08    2
2014-11-09    2
2014-11-10    2
2014-11-11    2
2014-11-12    2
2014-11-13    2
2014-11-14    2
2014-11-15    2
2014-11-16    2
dtype: int64

            SYS_NAME  CWXT_DB:184:C:\  CWXT_DB:184:D:\
COLLECTTIME
2014-10-01    财务管理系统      34270787.33      80262592.65
2014-10-02    财务管理系统      34328899.02      83200151.65
2014-10-03    财务管理系统      34327553.50      83208320.00
2014-10-04    财务管理系统      34288672.21      83099271.65
2014-10-05    财务管理系统      34190978.41      82765171.65